
{% macro HR(color="red", height="2px", width="50%", margin="10px", bgcolor="white") %}
    <div class="container-fluid" style="display:flex;justify-content: center;background-color: {{bgcolor}}">
        <div class="container-fluid" style="height:{{height}};background-color: {{color}};width:{{width}};margin-bottom:{{margin}}">{{text}}</div>
    </div>
{% endmacro %}

{% macro kpi_card(value="3", title="Secuencia", prefix="") %}
    <div class="kpicard col-lg-2 col-sm-12 col-md-4 m-0 p-0">
        <div class="shadow-md border m-2 p-2 bg-white text-center" style="border-radius:8px">
            <div class="h1 fw-bold text-dark" style="font-size: 30px">
                {% if prefix == '$' %}
                    {% if value < 0 %}
                        <span style="font-weight:bold;color:red">{{prefix}} {{value}}</span>
                    {% else %}
                        <span style="font-weight:bold;color:green">{{prefix}} {{value}}</span>
                    {% endif %}
                {% else %}
                    <span style="font-weight:bold;">{{prefix}} {{value}}</span>
                {% endif %}
            </div>
            <div class="h3 text-muted">
                <span>{{title}}</span>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro hello(name) %}
    <p>Hello, {{ name }}!</p>
{% endmacro %}