{% extends "base.html" %}
{% block title %}Docker Admin{% endblock %}
{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet"/>
    
    <div class="container-fluid" style="display:flex;flex-direction: row;">
        <div class="container-fluid"  style="display: flex;justify-content: center">
            <img src="{{ url_for('static', filename='img/docker_logo.png') }}" alt="layers" style="margin:10px;width:300px">
        </div>
    </div>

    <div class="container-fluid" style="margin:30px"></div>

    {{ component.HR(bgcolor="#ffffff", color="blue") }}

    <div style="height:50px"></div>

    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#layers">Containers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#data">In construction...</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="layers" class="container-fluid tab-pane m-0 p-0 active"><br>
            <div style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;">

                <div style="margin-left:2px;margin-bottom:5px;width:100%">
                    <div class="col m-0 p-0" style="border-left-color:green;border-left-style:solid;border-left-width:4px;">
                        <div class="shadow-sm border m-1 p-2 bg-white">
                            <div class="d-flex align-items-center justify-content-between">
                                <h3 class="text-primary fw-bold">ACTIVE CONTAINERS</h3>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- ACTIVE CONTAINERS -->
                <div class="container-fluid" style="margin:0px">
                    <div class="row box rounded">
                        <div class="instance rounded col-lg-12 col-sm-12 col-md-4 m-0 p-0">
                            <div class="table-responsive rounded" style="max-height:200px;opacity: 0.9;">
                                <table class="table table-hover" style="font-size:12px">
                                    <thead class="table-danger">
                                        <tr>
                                            <th>ID</th>
                                            <th>NAME</th>
                                            <th>STATUS</th>
                                            <th>RUN</th>
                                            <th>STOP</th>
                                            <th>RESTART</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for container in containers %}
                                            {% if container['status'] == 'running' %}
                                                <tr>
                                                    <td><span>{{container['id']}}</span></td>
                                                    <td><span>{{container['name']}}</span></td>
                                                    <td><span>{{container['status']}}</span></td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btn-sm rounded" style="opacity:1;width:75px" onclick="run_instance(`{{ container['name'] }}`)">RUN</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-sm rounded" style="opacity:1;width:75px" onclick="stop_instance(`{{ container['name'] }}`)">STOP</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-info btn-sm rounded" style="opacity:1;width:75px" onclick="restart_instance(`{{ container['name'] }}`)">RESTART</button>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- INACTIVE CONTAINERS -->
                <div style="margin-left:2px;margin-bottom:5px;width:100%">
                    <div class="col m-0 p-0" style="border-left-color:green;border-left-style:solid;border-left-width:4px;">
                        <div class="shadow-sm border m-1 p-2 bg-white">
                            <div class="d-flex align-items-center justify-content-between">
                                <h3 class="text-primary fw-bold">INACTIVE CONTAINERS</h3>
                            </div>
                        </div>
                    </div>
                    <span class="badge bg-info rounded-0" style="border-left-color:green;border-left-style:solid;border-left-width:4px;font-size:12px;letter-spacing: 1px;margin-top:5px;color:white;padding:10px">{{formula}}</span>
                </div>
        
                <!-- INFO -->
                <div class="container-fluid" style="margin:0px">
                    <div class="row box rounded">
                        <div class="instance rounded col-lg-12 col-sm-12 col-md-4 m-0 p-0">
                            <div class="table-responsive rounded" style="max-height:200px;opacity: 0.9;">
                                <table class="table table-hover" style="font-size:12px">
                                    <thead class="table-danger">
                                        <tr>
                                            <th>ID</th>
                                            <th>NAME</th>
                                            <th>STATUS</th>
                                            <th>RUN</th>
                                            <th>STOP</th>
                                            <th>RESTART</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for container in containers %}
                                            {% if container['status'] != 'running' %}
                                                <tr>
                                                    <td><span>{{container['id']}}</span></td>
                                                    <td><span>{{container['name']}}</span></td>
                                                    <td><span>{{container['status']}}</span></td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btn-sm rounded" style="opacity:1;width:75px;margin-top:5px" onclick="run_instance(`{{ container['name'] }}`)">RUN</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-sm rounded" style="opacity:1;width:75px;margin-top:5px" onclick="stop_instance(`{{ container['name'] }}`)">STOP</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-info btn-sm rounded" style="opacity:1;width:75px;margin-top:5px" onclick="restart_instance(`{{ container['name'] }}`)">RESTART</button>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="data" class="container-fluid tab-pane fade m-0 p-0"><br>
        </div>
    </div>

{% endblock %}